    html { 
        background-color: rgb(197, 197, 197);
    }
    
    .page-title {
        position: fixed;
        top 0;
        width: 100%;
        background-color: #521751;
        color: white;
        padding: 10px;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .trip-text {
        background-color: #fa923f;
        padding: 10px;
    }

    .trip-text p {
        background-color: white;
        margin: 0;
    }

    